<html>
  <head>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/fabric.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css"> 
  </head>
  <body ng-app="home" ng-controller="collidoscope">
    <canvas id="c"></canvas>
  </body>
</html>
