<html>
  <head>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.21/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.21/addons/p5.sound.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css"> 
  </head>
  <body ng-app="home" ng-controller="collidoscope">
    <div class="container">
      <div class="bar none" style="margin-right:0px;background-color:black;"></div>
    </div>
    <div class="time">
    </div>
    <span class="c">
      <div ng-click="record()" class="record"></div>
    </span>
  </body>
</html>
