body {
  background: black;
}
@keyframes wow {
  0%   { transform: scaleY(0); }
  100% { transform: scaleY(1.0); }
}

.container{
  position: absolute;
  top: 50%;
  height: 300px;
  margin-top: -150px;
  display:inline-block;
  overflow: hidden;
}

.bar {
  animation: wow 0.4s;
  width: 2px;
  height: 300px;
  margin-right: 5px;
  display: inline-block;
  background: white;
  vertical-align: middle;
}

.time {
  font-size: 36px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  margin-bottom: 10px;
  margin-right: 10px;
}

.c {
  position: fixed;
  margin-bottom: 10px;
  margin-right: 10px;
  bottom: 0;
  right: 0;
}

.options {
  position: fixed;
  height: 100px;
  width: 500px;
  bottom: 0;
  margin-left: -250px;
  left: 50%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transform: translateY(100px);
  background:white;
  transition: 0.2s ease-in-out;
}

.options .drop {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: translate(0px, -50px);
  margin-top: 40px;
  background: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  margin: 0px auto;
  line-height:50px;
  text-align:center;
  vertical-align:middle;
}

.options .drop i {
  transform: rotate(180deg);
  line-height: inherit;
  transition: 0.2s ease-in-out;
}


.record {
  width:50px;
  height:50px;
  background-color: red;
  border-radius:100%;
  line-height:50px;
  text-align:center;
  vertical-align:middle;
  display:inline-block;
}

.record i {
  line-height: inherit;
}

.play {
  height: 40px;
  border-radius: 50%;
  width: 40px;
  background: rgb(10,220,10);
}

.dials{
 display: flex;
 position: absolute;
 top: 18px;
 left: 20px;
}

#reverb{
  margin-left: 10px;
}

.yui3-dial-value-string{
  display: none;
}
